body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
    background: #2D1E2F;
}

.name-display {
    font-family: Secular One;
    font-size: 10vh;
    font-style: normal;
    line-height: normal;
    color: #FFF;
}

.countdown-display {
    font-family: Secular One;
    font-size: 3vh;
    font-style: normal;
    line-height: normal;
    color: #FFF;
}